/* Hero New Hairline

font-family: hero-new-hairline, sans-serif;

font-weight: 100;

font-style: normal;


Hero New Hairline Italic

font-family: hero-new-hairline, sans-serif;

font-weight: 100;

font-style: italic;


Hero New Regular

font-family: hero-new, sans-serif;

font-weight: 400;

font-style: normal;


Hero New Regular Italic

font-family: hero-new, sans-serif;

font-weight: 400;

font-style: italic;


Hero New Bold Italic

font-family: hero-new, sans-serif;

font-weight: 700;

font-style: italic;


Hero New Bold

font-family: hero-new, sans-serif;

font-weight: 700;

font-style: normal; */

:root {
  --matteblue: #778896;
  --lightblue: #c9d7e3;
  --brown: #968468;
  --lightbrown: #e3d9ca;
  --white: #fcfeff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

/***NAVIGATION***/

.nav_container {
  width: 100%;
  background-color: --white;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar_logo {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  top: 3%;
}

.nav_links {
  color: black;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.nav_links:hover {
  color: var(--matteblue);
  transition: all 0.2s ease-out;
}

.menu_toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: black;
}

/***CONFIGURATOR PAGE***/

h1,
h2 {
  font-family: wreath, sans-serif;
  font-weight: 700;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: hero-new, sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 0.8em;
}

h4 {
  font-family: hero-new, sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 0.8em;
}

p {
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
}

footer p {
  font-family: hero-new, sans-serif;
  font-weight: lighter;
  font-style: normal;
}

#headlines {
  padding: 1em;
}

#product_box {
  background-color: #c9d7e3;
  height: auto;
  width: 100vw;
  padding: 1em;
}

#configurator {
  position: relative;
  width: 80vw;
  height: auto;
  padding: 1em;
}

#bathtub_basic {
  /* background-image: url("layout_images/bathtub_background.jpg"); */
  height: auto;
  width: 80vw;
  position: relative;
}

svg {
  width: 100%;
  height: auto;
  position: relative;
}

#feature_Billede {
  padding-bottom: 100vh;
}

#shadow_Billede {
  pointer-events: none;
}

#bathfeet_1,
#bathfeet_2,
#shower,
#rubberduck,
#towel_1,
#towel_2,
#water,
#woodtray_1,
#woodtray_2 {
  position: absolute;
}

#rubberduck {
  width: 50vw;
  height: auto;
}

/*#shower {
  width: 20vw;
  height: auto;
} */

#selected_features {
  background-color: white;
  border: solid 0.1em #778896;
  box-shadow: 3px 3px 8px #778896;
  width: 80vw;
  height: 10vh;
}

#colorselector {
  margin-top: 1em;
}

#features {
  display: flex;
  flex-direction: column;
}

#features_elements {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

#extra {
  display: flex;
  flex-direction: column;
}

#extra_elements {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

#features_box {
  grid-area: features_box;
  padding: 1em;
  background-color: #e3d9ca;
  height: auto;
  width: 100vw;
}

#features_box .option {
  gap: 1em;
  background-color: white;
  border: solid 0.1em #968468;
  box-shadow: 3px 3px 8px #968468;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 10vh;
}

#features_box .option:hover {
  background-color: #ddd;
  cursor: pointer;
}

#features_box .option.chosen {
  text-decoration: underline;
  color: #000;
}

#features_box .option img {
  width: 10vw;
  height: auto;
}

#features_box #shower img {
  width: 4vw;
  height: auto;
}

/* #features_box .option figcaption {
  font-size: 10px;
} */

/***FOOTER***/
#footer_picture {
  opacity: 60%;
}
#blue_banner {
  background-color: var(--lightblue);
  height: 5vw;
  margin-top: -4px;
}
#footer_container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 10px;
}
p {
  font-size: 2vw;
}
#footer_logo {
  width: 8%;
}

/***CLASSES***/

#product_box .hide {
  display: none;
}

.g_to_interact_with {
  fill: transparent;
  cursor: pointer;
}

/***MEDIA Q***/

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  .nav_container {
    position: relative;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--matteblue);
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #nav_logo {
    margin-left: 20px;
  }

  .nav_menu.active {
    background: var(--white);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav_links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav_links:hover {
    background-color: var(--matteblue);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #mobile_menu {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translate(5%, 20%);
    z-index: 1;
  }

  .menu_toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu_toggle:hover {
    cursor: pointer;
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  #navbar_logo {
    margin-left: 8vh;
  }

  #headlines,
  #product_box,
  #features_box {
    padding: 3em;
  }

  #features_elements,
  #extra_elements {
    grid-gap: 6em;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  #features_box .option {
    width: 20vw;
    height: 15vh;
  }

  h1,
  h2 {
    font-size: 3em;
  }

  h3 {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }

  #headlines h3 {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1000px) {
  #navbar_logo {
    margin-left: 1vh;
  }

  #headlines,
  #product_box,
  #features_box {
    padding: 5em;
  }

  #headlines {
    padding-top: 8em;
  }

  #content {
    display: flex;
    flex-direction: row;
  }

  #product_box {
    width: 60%;
    height: auto;
  }

  #features_box {
    width: 40%;
    height: auto;
  }

  #bathtub_basic {
    height: auto;
    width: 90%;
  }

  #features_box .option {
    width: 10vw;
    height: 15vh;
  }

  #features_box .option img {
    width: auto;
    height: 80%;
  }

  #features_box #shower img {
    width: auto;
    height: 80%;
  }

  #selected_features {
    height: 25vh;
    width: 80%;
  }

  /*  #features_elements,
  #extra_elements {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

 

 

  #color_input input {
    width: 15vw;
    height: 5vh;
  }

  h1,
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.5em;
  }

  #headlines h3 {
    font-size: 1.7em;
  }

  h4 {
    font-size: 0.8em;
  } */
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  #navbar_logo {
    width: 80%;
  }

  /* h1,
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.5em;
  }

  #headlines h3 {
    font-size: 0.8em;
  }

  h4 {
    font-size: 0.8em;
  } */
}
