/* scroll-behavior: smooth; */

:root {
  --matteblue: #778896;
  --lightblue: #c9d7e3;
  --brown: #968468;
  --lightbrown: #e3d9ca;
  --white: #fcfeff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
  z-index: 1;
}
progress::-webkit-progress-bar {
  background: transparent;
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
.nav_container {
  width: 100%;
  background-color: --white;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar_logo {
  color: black;
  justify-self: start;
  margin-left: 3vh;
  cursor: pointer;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  top: 3%;
}

.nav_links {
  color: black;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.nav_links:hover {
  color: var(--matteblue);
  transition: all 0.2s ease-out;
}

.menu_toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: black;
}
/*----------------------------------nav bar END---------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*                                   SCROLLPAGE START                                  */
/*------------------------------------------------------------------------------------*/

h1 {
  margin-top: 5vh;
  margin-left: 3.5vh;
  font-family: wreath, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  margin-left: 3.5vh;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: hero-new, sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 0.8em;
}

#frontpage_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
}

.column_top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lightbrown);
  padding: 10vh;
}

h2 {
  font-family: hero-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  align-self: center;
  color: var(--white);
  text-transform: uppercase;
  font-size: 25px;
}

.column_buttom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 66%,
    rgba(201, 215, 227, 1) 66%,
    rgba(201, 215, 227, 1) 100%
  );
}

.column_buttom img {
  align-self: center;
  width: 80%;
}

#bubble_background {
  background-image: url(layout_images/bubbles_background.png);
}

section h2 {
  font-family: hero-new, sans-serif;
  font-weight: 100;
  font-style: normal;
  align-self: center;
  color: var(--brown);
  text-transform: uppercase;
  font-size: 2.5vw;
}

section p {
  align-self: center;
}

.box_left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2vw;
  margin-top: 8vw;
}

.box_right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2vw;
  margin-top: 8vw;
}

.content_left {
  align-self: flex-start;
  background-color: var(--lightblue);
  padding: 20px;
}

.content_right {
  align-self: flex-end;
  background-color: var(--lightblue);
  padding: 20px;
}

#footer_picture {
  opacity: 60%;
}

footer p {
  font-family: hero-new, sans-serif;
  font-weight: lighter;
  font-style: normal;
}

#blue_banner {
  background-color: var(--lightblue);
  height: 5vw;
  margin-top: -4px;
}

#footer_container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: white;
}

#column_right,
#column_left {
  align-self: center;
}

p {
  font-size: 2vw;
}

#bathtub_logo {
  width: 16vw;
  height: auto;
}
/*--------------------------------frontpage END---------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*                                   ANIMATIONS                                       */
/*------------------------------------------------------------------------------------*/

/*------------BUBBLES----------*/
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: 0px;
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
  animation: flying 10s ease-in-out;
}
.bubble:nth-child(1) {
  width: 60px;
  height: 60px;
  left: 10%;
  animation-duration: 8s;
  flex-grow: 3;
}

.bubble:nth-child(2) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
  flex-grow: 3;
}
.bubble:nth-child(3) {
  width: 70px;
  height: 70px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 2s;
  flex-grow: 3;
}
.bubble:nth-child(4) {
  width: 100px;
  height: 100px;
  left: 50%;
  animation-duration: 7s;
  animation-delay: 0s;
  flex-grow: 3;
}
.bubble:nth-child(5) {
  width: 55px;
  height: 55px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
  flex-grow: 3;
}
.bubble:nth-child(6) {
  width: 100px;
  height: 100px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 65px;
  height: 65px;
  left: 75%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 75%;
  animation-duration: 7s;
  animation-delay: 2s;
}

@keyframes flying {
  0% {
    bottom: -500px;
    transform: translateX(0);
    opacity: 0.9;
  }

  50% {
    bottom: 1080px;
    transform: translateX(100px);
    opacity: 0.9;
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
    opacity: 0.9;
  }
}
/*------------PROGRESS----------*/
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-value {
  background: var(--matteblue);
  background-attachment: fixed;
}

/*------------COME IN----------*/
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/*------------------------------------------------------------------------------------*/
/*                                     MEDIA QURIES                                   */
/*------------------------------------------------------------------------------------*/

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  .nav_container {
    position: relative;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--matteblue);
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #nav_logo {
    margin-left: 20px;
  }

  .nav_menu.active {
    background: var(--white);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav_links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav_links:hover {
    background-color: var(--matteblue);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #mobile_menu {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translate(5%, 20%);
    z-index: 1;
  }

  .menu_toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu_toggle:hover {
    cursor: pointer;
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  h1 {
    margin-top: 8vh;
    margin-left: 10vh;
  }

  #navbar_logo {
    margin-left: 8vh;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  #frontpage_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .column_buttom img {
    width: 100%;
    padding: 20px;
  }

  .column_top {
    width: 150vh;
  }

  h1 {
    margin-left: 11.5vh;
    margin-top: 12vh;
  }

  #navbar_logo {
    margin-left: 1vh;
    width: 80%;
  }

  .column_buttom img {
    background: linear-gradient(
      90deg,
      rgba(201, 215, 227, 1) 0%,
      rgba(201, 215, 227, 1) 30%,
      rgba(201, 215, 227, 1) 33%,
      rgba(255, 255, 255, 1) 33%
    );
  }

  .bubble:nth-child(1) {
    width: 160px;
    height: 160px;
  }

  .bubble:nth-child(2) {
    width: 140px;
    height: 140px;
  }
  .bubble:nth-child(3) {
    width: 170px;
    height: 170px;
  }
  .bubble:nth-child(4) {
    width: 100px;
    height: 100px;
  }
  .bubble:nth-child(5) {
    width: 155px;
    height: 155px;
  }
  .bubble:nth-child(6) {
    width: 100px;
    height: 100px;
  }
  .bubble:nth-child(7) {
    width: 165px;
    height: 165px;
  }
  .bubble:nth-child(8) {
    width: 100px;
    height: 100px;
  }
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  h1 {
    margin-left: 13.5vh;
    margin-top: 11vh;
  }

  #navbar_logo {
    width: 80%;
  }

  p {
    font-size: 1.5vw;
  }
}

/*---------4K---------*/
@media screen and (min-width: 2560px) {
}
